<div class="container">
  <div class="row justify-content-center borde">
    <div class="col-8 ">
      <h4 class="text-left">Buscar Propiedad</h4>
      <p class="text-left">
        De click sobre un item de la lista para ver mas detalles
        datos
      </p>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <div class="text-center ">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col">Direccion</th>
              <th scope="col">Precio</th>
              <th scope="col">Propietario</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of propiedades; let i = index">
              <th
                [routerLink]="['/detalle', item.ID]"
                scope="row"
              >
                {{ item.ID }}
              </th>
              <td [routerLink]="['/detalle', item.ID]">
                {{ item.NOMBRE }}
              </td>
              <td [routerLink]="['/detalle', item.ID]">
                {{ item.TIPO_CEDULA }}
              </td>
              <td [routerLink]="['/detalle', item.ID]">
                {{ item.DIRECCION }}
              </td>
              <td [routerLink]="['/detalle', item.ID]">
                {{ item.PRECIO }}
              </td>
              <td [routerLink]="['/detalle', item.ID]">
                {{ item.NOMBRE_OWNER }}
              </td>
              <td class="">
                <i (click)="eliminarItem(item.id)" class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
